{% extends "home/base.html" %}

{% block title %}Home{% endblock title %} 
 
{% block body %}
    <!-- <div class="container-fluid my-4 px-0">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1600x600/?determination" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Arthur Ashe</h5>
                <p>“Start where you are. Use what you have. Do what you can.”</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x600/?success" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Thomas Jefferson</h5>
                <p>“I’m a great believer in luck, and I find the harder I work, the more I have of it.”</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1600x600/?path" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <h5>Joshua J. Marine</h5>
                <p>“Challenges are what make life interesting and overcoming them is what makes life meaningful.”</p>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> -->
 
{% endblock body %}